<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon" (click)="open = !open" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Office Manager</span>
        <span class="example-spacer"></span>
        <button mat-icon-button [routerLink]="['/main/profile']">
            <mat-icon>face</mat-icon>
        </button>
        <button mat-icon-button (click)="signout()">
            <mat-icon>output</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="open">
        <mat-list>
            <mat-action-list>
                <button class="full-width-button" [routerLink]="['/main/']" mat-button color="primary">Roles</button>
            </mat-action-list>
            
            <mat-action-list>
                <button class="full-width-button" [routerLink]="['/main/department']" mat-button color="primary">Department</button>
            </mat-action-list>
            
            <mat-action-list>
                <button class="full-width-button" [routerLink]="['/main/designation']" mat-button color="primary">Designation</button>
            </mat-action-list>
            <mat-action-list>
                <button class="full-width-button" [routerLink]="['/main/weatherforecast']" mat-button color="primary">Weatherforecast</button>
            </mat-action-list>
        </mat-list>
    </mat-drawer>
    <router-outlet></router-outlet>
</mat-drawer-container>